@media (min-width:100px) and (max-width:1200px){
    header{
        height:80vh;
        // background-repeat: repeat;
    }
    #seccion3{
        
        #texto{
            margin-left: 10%;
            margin-top: 20%;
        }
    }
}