@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
#nav-negro {
  height: 10vh;
  background: black;
  position: fixed;
  z-index: 1000;
  width: 100%; }

nav {
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 60px;
  z-index: 1000;
  margin-top: 0;
  position: fixed;
  padding-top: 0;
  background: none;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

.logo, .menu {
  position: absolute;
  z-index: 2000; }

.logo {
  left: 0;
  top: -4px;
  width: 70px;
  height: 74px;
  text-align: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 180%; }

#toggle {
  width: 104px;
  height: 74px;
  padding: 45px 40px;
  z-index: 1000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 60px 50px; }

.menu {
  top: 0;
  right: 0;
  height: 4px;
  width: 30px;
  text-align: right;
  margin: 2rem 2rem;
  background-color: white;
  transition: all 0.3s; }

.menu:before, .menu:after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: white;
  position: absolute;
  z-index: -1; }

.menu:before {
  top: -8px; }

.menu:after {
  top: 8px; }

#toggle:hover .menu:before {
  top: -9px; }

#toggle:hover .menu:after {
  top: 9px; }

.open .menu {
  background: none !important; }

.open .menu:after {
  top: 0 !important;
  background: #fff !important;
  transform: rotate(45deg); }

.open .menu:before {
  top: 0 !important;
  background: #fff !important;
  transform: rotate(-45deg); }

nav .nav-background {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: table;
  background: none;
  position: absolute;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open .nav-background {
  opacity: 1;
  background-color: rgba(5, 5, 5, 0.71);
  transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

nav.open {
  height: 100%;
  transition: none;
  o-transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

nav ul {
  top: -10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63); }

nav ul li {
  visibility: hidden; }

nav ul li a {
  color: white;
  width: 100%;
  display: block;
  padding: 8px 0 0;
  letter-spacing: -0.06em; }

nav ul li a:hover {
  color: #288840;
  text-decoration: none;
  list-style: none; }

nav.open ul {
  top: 0;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg); }

nav.open ul li {
  color: #fff;
  font-size: 60px;
  visibility: visible !important; }

nav.header-in {
  background-color: rgba(217, 40, 130, 0.9); }

.solid #toggle .menu {
  background: #fff; }

.solid #toggle .menu:after {
  background-color: #fff; }

.solid #toggle .menu:before {
  background-color: #fff; }

.logo {
  margin-left: 100px;
  margin-top: 70px; }

.overflow-hidden {
  overflow: hidden; }

body {
  padding: 0;
  margin: 0; }

* {
  font-family: "Raleway", sans-serif; }

header {
  background-image: url(../img/fondo-bienvenida.jpg);
  height: 100vh; }
  header #bienvenida {
    margin-top: 10%;
    margin-left: 25%; }
    header #bienvenida img {
      width: 100%;
      height: 300px; }
  header #sinbolos {
    margin-left: 45%;
    margin-top: 100px; }
    header #sinbolos .circulo {
      border-radius: 20px;
      color: white;
      border: 2px solid white;
      font-size: 15px;
      padding: 10px; }
    header #sinbolos #flecha-abajo {
      color: white;
      font-size: 25px;
      animation-play-state: running; }

#seccion2 {
  height: 100vh; }
  #seccion2 iframe {
    width: 100%;
    height: 100vh; }

#seccion3 {
  height: 80vh;
  background-image: url(../img/fondo-about.jpg);
  background-size: 100%; }
  #seccion3 #texto {
    color: white;
    margin-left: 50%;
    margin-top: 20%; }
    #seccion3 #texto span {
      font-size: 60px;
      font-weight: bold; }
    #seccion3 #texto p {
      font-size: 17px; }

#seccion4 {
  height: 47vh; }
  #seccion4 .contenedor {
    margin-left: 150px; }
  #seccion4 .caja {
    padding: 5px; }
    #seccion4 .caja #titulosec4 {
      color: #DD5585;
      font-weight: bold; }
    #seccion4 .caja #textosec4 {
      padding: 15px; }

#container {
  padding: 0;
  margin: 0; }

#seccion5 {
  height: 90vh; }
  #seccion5 img {
    width: 100%; }
  #seccion5 img:hover {
    opacity: 2; }
  #seccion5 #texto {
    position: absolute;
    font-size: 20px;
    bottom: 50%;
    left: 10%;
    width: 60%;
    color: #fff;
    font-weight: bold; }
  #seccion5 #texto2 {
    position: absolute;
    font-size: 17px;
    bottom: 30%;
    left: 10%;
    color: #fff;
    font-weight: bold; }
  #seccion5 #texto6 {
    position: absolute;
    font-size: 20px;
    bottom: 20%;
    left: 10%;
    color: #fff;
    font-weight: bold; }

#seccion6 {
  background-image: url(../img/disfruta.jpg);
  background-position: bottom;
  height: 85vh; }
  #seccion6 #texto {
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin: 15% 0 0 30%; }

#seccion7 {
  height: 80vh; }
  #seccion7 #div-color {
    background-color: #E2C36D;
    height: 80vh; }
    #seccion7 #div-color img {
      margin-top: 50px; }

#seccion8 {
  height: 80vh; }
  #seccion8 #div-color {
    background-color: #59C22F;
    height: 80vh; }
    #seccion8 #div-color img {
      margin-top: 50px; }

#seccion9 {
  height: 80vh; }
  #seccion9 #div-color {
    background-color: #FF95A9;
    height: 80vh; }
    #seccion9 #div-color img {
      margin-top: 50px; }

#seccion10 {
  background-image: url(../img/parallax-4.jpg);
  background-position: center top;
  height: 68vh; }
  #seccion10 #texto {
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-top: 200px; }

#carrusel {
  height: 90vh; }
  #carrusel img {
    height: 90vh;
    width: 100%; }
  #carrusel #flecha {
    font-size: 100px;
    font-weight: bold;
    color: white; }

#producto {
  height: 90vh; }
  #producto img {
    height: 80vh;
    top: 10px;
    margin: 30px; }
  #producto hr {
    background: black;
    color: black;
    height: 3px;
    width: 40px;
    margin-left: -5px; }

#footer {
  background-color: #262626;
  font-size: 17px;
  padding: 30px;
  color: #666565; }
  #footer img {
    width: 80px;
    height: 70px;
    margin-top: -10px;
    position: absolute; }

/*# sourceMappingURL=main.css.map */
